@use "../abstracts/variables" as v;

.student-create-page,
.student-list-page {
  .card + .card {
    margin-top: v.$spacing-lg;
  }
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: v.$spacing-md;
}